extends main

block styles
  link(rel='stylesheet' href='../css/impressum.styl')

block content
  .centered
    h1 Bitelio UG
    table
      tr
        td Geschäftsführer:
        td Robert Landeck
      tr
        td
        td Grüner Weg 8
          br
          | 15711 Königs Wusterhausen
      tr
        td Telefon:
        td +49 (0)178 / 2513845
      tr
        td Email:
        td info@bitelio.com
      tr
        td Registergericht:
        td Amtsgericht Cottbus
      tr
        td Registernummer:
        td HRB 12715 CB
      tr
        td USt-IdNr.:
        td 049 / 106 / 06854
      tr
        td Verantwortlich i.S.d. § 55 Abs. 2 RStV:
        td Robert Landeck
