extends main

block styles
  link(rel='stylesheet' href='/css/index.styl')

block content
  #primary
    #particles-js
    .centered
      include /assets/logo.svg
      h1 Business Intelligence

block scripts
  script(type='text/javascript' src='/js/main.js')
  script.
    if('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/sw.js', {scope: '/'})
    }
