extends main

block styles
  link(rel='stylesheet' href='/css/index.styl')

block content
  #primary
    #particles-js
    .centered
      include /assets/logo.svg
      h1 Business Intelligence

    #arrow
      span
      span
      span

  #secondary
    .centered
      h2 Get on top of your data and boost your business through informed decision-making
      p We provide tailored solutions to corporations seeking to improve administrative processes by using the best tools and methodologies available today — from value chain optimization to advanced visualizations and automatic reporting. With years of expertise working for the aerospace and IT industry under our belt, we feel confident to support those who look ahead into a future where data is a driver, not a byproduct, of any modern business.
      p Whether you have a clear need or just want to learn about what bitelio can do for you, do not hesitate reaching out to us. We will be pleased to evaluate your case and offer advice with no strings attached.
      button(onclick='contact()') Contact

    a(href='/impressum.pug') Impressum
    a(href='/robots.txt')

block scripts
  script(type='text/javascript' src='/js/main.js')
