doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='theme-color' content='#000000')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='application-name' content='Bitelio')
    meta(name='description' content='Business Intelligence')
    meta(name='author' content='Bitelio UG')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='msapplication-TileColor' content='#ffffff')
    meta(name='msapplication-TileImage' content='/mstile-144x144.png')
    meta(name='msapplication-tooltip' content='Business Intelligence')
    meta(name='msapplication-config' content='/ieconfig.xml')
    link(rel='icon' type='image/x-icon' href='/favicon.ico')
    link(rel='apple-touch-icon' type='image/png' sizes='180x180' href='/apple-touch-icon.png')
    link(rel='shortcut icon' type='image/png' sizes='192x192' href='/android-chrome-192x192.png')
    link(rel='mask-icon' href='/safari-pinned-tab.svg' color='#ffffff')
    title Bitelio - Business Intelligence
    block styles
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-73510203-1');

  body
    block content

  block scripts
